{
  "extends": ["marko", "airbnb-base"],
  "env": {
     "browser": true,
     "node": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "comma-dangle": 0,
    "no-console": 0,
    "no-underscore-dangle": ["error", { "allow": ["_", "__",
      "__INITIAL_STATE__"] }],
    "no-unused-vars": ["error", {"argsIgnorePattern": "_"}],
    "no-extra-parens": 0,
    "import/no-extraneous-dependencies": ["error",
      {"devDependencies": true}]
  }
}
