<div.goal-header>
  <div.image />
  <div.header>
    Get ready to start selling
  </div>
  <div.description>
    Building a business takes a lot of work.
    Here are a few checklists to get you started.
  </div>
</div>
